<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-top: 0.3em">{{ startName }}</ion-title>
    <ion-icon name="arrow-down" style="padding: 0.3em"></ion-icon>
    <ion-title style="padding-bottom: 0.3em">{{ endName }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group expand="inset" *ngFor="let itinerary of itineraries">
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>{{ convertSecondsToMinutes(itinerary.duration) }}min</ion-label>
        <ion-label
          >{{ getTimeFromTimestamp(itinerary.startTime) }} -
          {{ getTimeFromTimestamp(itinerary.endTime) }}</ion-label
        >
      </ion-item>
      <div slot="content">
        <ion-grid class="ion-text-center">
          <ion-row>
            <ion-col *ngFor="let leg of legsToDisplay(itinerary)"><i class="{{ getIcon(leg.mode) }}"></i></ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngFor="let leg of legsToDisplay(itinerary)"><ion-chip>{{ chipToDisplay(leg) }}</ion-chip></ion-col>
          </ion-row>
          <ion-row class="ion-padding">
            <ion-col size="12" (click)="onClickDetails(itinerary)">Voir le détail</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
