<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedules">
      <ion-icon name="subway-outline"></ion-icon>
      <ion-label>Horaires</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="route">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Itinéraire</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
