<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Itinéraire </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Itinéraire</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    show-clear-button="never"
    placeholder="Départ"
    value="{{start === 'undefined' ? '' : start}}"
    (click)="displaySearchClusters('start')"
  ></ion-searchbar>
  <ion-icon
    name="repeat"
    style="margin: 0.5em; margin-left: 1.5em"
    (click)="reverseDestinations()"
  ></ion-icon>
  <ion-searchbar
    show-clear-button="never"
    placeholder="Arrivée"
    value="{{end === 'undefined' ? '' : end}}"
    (click)="displaySearchClusters('end')"
  ></ion-searchbar>

  <br />

  <ion-item class="ion-text-center">
    <input
      type="date"
      style="width: 50%; margin-right: 2em"
      [(ngModel)]="date"
      (ngModelChange)="date = $event"
    />
    <input
      type="time"
      style="width: 50%"
      [(ngModel)]="time"
      (ngModelChange)="time = $event"
    />
  </ion-item>

  <ion-button
    style="display: block; margin-left: auto; margin-right: auto; margin: 1em"
    (click)="searchItineraries()"
    >Rechercher</ion-button
  >

  <ion-item class="ion-text-center" *ngIf="displayError">
    <ion-label color="danger">Tous les champs sont requis</ion-label>
  </ion-item>
</ion-content>
