<ion-header>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-item>
        <ion-title slot="start">Fiche Horaire</ion-title>
      </ion-item>
      <ion-item class="ion-text-center">
        <input type="date" style="width: 50%; margin-right: 2em" [(ngModel)]="date"
          (ngModelChange)="changeDate($event)" />
        <input type="time" style="width: 50%" [(ngModel)]="time" (ngModelChange)="changeTime($event)" />
      </ion-item>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="direction1" style="width: 50%; padding: 1em">
          <ion-label>{{ city1 }}</ion-label>
          <ion-label>{{ directionName1 }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="direction2" style="width: 50%; padding: 1em">
          <ion-label>{{ city2 }}</ion-label>
          <ion-label>{{ directionName2 }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
</ion-header>
<ion-content class="ion-padding">
    <ion-grid>
      <ion-row *ngFor="let timeTableStop of getTimeTableStops()">
        <ion-col class="cell-class">
          {{ timeTableStop.stopName.split(",")[0] }}
          <br />
          {{ timeTableStop.stopName.split(",")[1] }}
        </ion-col>
        <ion-col class="cell-class" size="{{ 6 / timeTableStop.trips.length }}"
          *ngFor="let trip of timeTableStop.trips">{{ getTripTime(trip) }}</ion-col>
      </ion-row>
    </ion-grid>
    <div style="height: 100px;"></div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-row>
        <ion-col>
          <ion-fab-button (click)="clickPreviousButton()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
        <ion-col>
          <ion-fab-button (click)="clickNextButton()">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-fab>
</ion-content>