<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Détail de l'itinéraire</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
</ion-content>

<!--
  <ion-col><i class="fa-solid fa-train-tram"></i></ion-col>
  <ion-col><i class="fa-solid fa-bus"></i></ion-col>
  <ion-col><i class="fa-solid fa-person-walking"></i></ion-col>
-->
